.section-3 {
    padding-top: 60px;
}
.section-3 > .title {
    margin-top: 95px;
    margin-bottom: 45px;
}
.section-3 > .special-top-memu > ul {
    padding: 10px;
}
.section-3 > .special-top-memu > ul > li > a {
    margin-right:40px;
}
.section-3 > .special-top-memu > ul > li > a::after {
    content: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/bg_special_box_arr.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    position: absolute;
    width: 20px;
    height: 40px;
    top:50%;
    left:50%;
    transform: translate(-50% ,-50%);
}
.section-3 > .special-top-memu > ul > li > a > .text-box > .title {
    font-size: 14px;
    font-weight: 300;
    margin-top: 35px;
}
.section-3 > .special-top-memu > ul > li > a > .text-box > .sub-title-1 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}
.section-3 > .special-top-memu > ul > li:last-child > a > .text-box > .sub-title-1 {
    margin-top: 65px;
}
.section-3 > .special-top-memu > ul > li > a > .text-box > .sub-title-2 {
    font-weight: 300;
    margin-top: 10px;
}
.section-3 > .special-top-memu > ul > li:first-child > a > .img-box {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/special-top-1.png) no-repeat 0 0;
    background-size: cover;
    width: 273px;
    height: 223px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.section-3 > .special-top-memu > ul > li:first-child > a > .text-box {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/bg_special_box.png) no-repeat 0 0;
    background-size: cover;
    width: 273px;
    height: 223px;
}
.section-3 > .special-top-memu > ul > li:last-child > a > .img-box {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/special-top-2.jpg) no-repeat 0 0;
    background-size: cover;
    width: 273px;
    height: 223px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.section-3 > .special-top-memu > ul > li:last-child > a > .text-box {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/bg_special_box.png) no-repeat 0 0;
    background-size: cover;
    width: 273px;
    height: 223px;
}


/* special-slide 커스텀 */
.section-3 > .special-slide-menu {
    margin-top: 10px;
}
.section-3 > .special-slide-menu > .slider {
    overflow: hidden;
}
.section-3 > .special-slide-menu > .slider > ul {
    width: calc(586px * 5);
    height: 223px;
    padding: 10px;
    transition:margin-left .3s ;
    margin-left: 0px;
}
.section-3 > .special-slide-menu > .slider > ul > li > a > .img-box,
.section-3 > .special-slide-menu > .slider > ul > li > a > .text-box {
    background-size: cover;
    width: 273px;
    height: 223px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.section-3 > .special-slide-menu > .slider > ul > li > a {
    margin-right:40px;
}
.section-3 > .special-slide-menu > .slider > ul > li > a > .text-box > .title {
    font-size: 14px;
    font-weight: 300;
    margin-top: 35px;
}
.section-3 > .special-slide-menu > .slider > ul > li > a > .text-box > .sub-title-1 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;   
}
.section-3 > .special-slide-menu > .slider > ul > li:nth-child(2n + 3) > a > .text-box > .sub-title-1 {
    margin-top: 35px;
}
.section-3 > .special-slide-menu > .slider > ul > li:nth-child(3) > a > .text-box > * {
    padding-left: 30px;
}
.section-3 > .special-slide-menu > .slider > ul > li > a > .text-box > .sub-title-2 {
    font-weight: 300;
    margin-top: 10px;
}
.section-3 > .special-slide-menu > .slider > ul > li:not(:nth-child(3)) > a::after {
    content: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/bg_special_box_arr.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    position: absolute;
    width: 20px;
    height: 40px;
    top:50%;
    left:50%;
    transform: translate(-50% ,-50%);
}

.section-3 > .special-slide-menu > .slider > ul > li:not(:nth-child(3)) > a > .text-box {
    width: 273px;
    height: 223px;
    background: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.section-3 > .special-slide-menu > .slider> ul > .item-1 > a > .img-box {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/special-slie-1.png) no-repeat 0 0;
}
.section-3 > .special-slide-menu > .slider> ul > .item-2 > a > .img-box {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/special-slie-2.jpg) no-repeat 0 0;
}
.section-3 > .special-slide-menu > .slider> ul > .item-3 > a > .img-box {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/special-slie-3.png) no-repeat 0 0;
}
.section-3 > .special-slide-menu > .slider> ul > .item-4 > a > .img-box {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/special-slie-4.jpg) no-repeat 0 0;
}
.section-3 > .special-slide-menu > .slider> ul > .item-5 > a > .img-box {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/special-slie-5.jpg) no-repeat 0 0;
}
.section-3 > .special-slide-menu > .slider > .slide-btn {
    width: 100%;
    height: 60px;
}
.section-3 > .special-slide-menu >  .slider > .slide-btn > .left-btn,
.section-3 > .special-slide-menu >  .slider > .slide-btn > .right-btn {
    position: absolute;
    top:50%;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: rgba(255,255,255,0.3);
    box-shadow:3px 3px 15px 0 rgba(0,0,0,.2);
}
.section-3 > .special-slide-menu >  .slider > .slide-btn > .left-btn {
    left:0;
    transform: translateX(-33%) translateY(-100%);
}
.section-3 > .special-slide-menu >  .slider > .slide-btn > .right-btn {
    right:0;
    transform: translateX(33%) translateY(-100%);
}
.section-3 > .special-slide-menu >  .slider > .slide-btn > .left-btn > .img{
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/btn_arrow_bbsslide.png) no-repeat 0 -3px;
    position: absolute;
    transform: translate(-50% , -50%);
    top:50%;
    left:50%;
    width: 14px;
    height: 24px;
    background-size: cover;
}
.section-3 > .special-slide-menu >  .slider > .slide-btn > .right-btn > .img{
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/btn_arrow_bbsslide.png) no-repeat 0 -33px;
    position: absolute;
    transform: translate(-50% , -50%);
    top:50%;
    left:50%;
    width: 14px;
    height: 24px;
    background-size: cover;
}