/* section .1 커스텀 */
/* main-banner 커스텀 */

.main-slide-banner>.image-slider>li {
    position: absolute;
    opacity: 0;
    transition: opacity .6s;
  }
  
  .main-slide-banner>.image-slider>li.active {
    opacity: 1;
  }
  
  .main-slide-banner>.text-slider>li {
    width: 100%;
    height: 100vh;
  
  }
  
  /* 메인슬라이드 텍스트박스 커스텀 (.main-slide-banner>.image-slider>li>.text-box>.title-text) */
  .main-slide-banner>.image-slider>li>.text-box>* {
    position: absolute;
  }
  
  .main-slide-banner>.image-slider>li>.text-box>.title-text {
    width: 100%;
    top:29%;
    font-size: 56.5px;
    line-height: 1.25;
    letter-spacing: -5px;
  }
  .main-slide-banner>.image-slider>li>.text-box>.sub-title {
    width: 100%;
    top:45%;
    z-index: 5;
    font-size:16.1px;
    letter-spacing: -.3px;
  }
  .main-slide-banner>.image-slider>.banner-1>.text-box>.sub-title {
    font-size:16.4px;
  }
  .main-slide-banner>.image-slider>.banner-2>.text-box>.title-text {
    top:28.6%;
    font-size: 59px;
    font-weight: 500;
    letter-spacing: -4.6px;
  }
  .main-slide-banner>.image-slider>.banner-2>.text-box>.sub-title {
    width: 100%;
    top:38.2%;
    z-index: 5;
    
  }
  .main-slide-banner>.image-slider>.banner-3>.text-box>.title-text {
    top:28.6%;
    font-size: 59px;
    font-weight: 500;
    letter-spacing: -4.6px;
  }
  .main-slide-banner>.image-slider>.banner-3>.text-box>.sub-title {
    width: 100%;
    top:46%;
    z-index: 5;
  }
  .main-slide-banner>.image-slider>.banner-4>.text-box>.title-text {
    top:28.6%;
    font-size: 59px;
    font-weight: 500;
    letter-spacing: -4.6px;
  }
  .main-slide-banner>.image-slider>.banner-4>.text-box>.sub-title {
    width: 100%;
    top:38.2%;
    z-index: 5;
  }
  .main-slide-banner>.image-slider>.banner-5>.text-box>.title-text {
    top:28.6%;
    font-size: 59px;
    font-weight: 500;
    letter-spacing: -4.6px;
  }
  .main-slide-banner>.image-slider>.banner-5>.text-box>.sub-title {
    width: 100%;
    top:38.2%;
    z-index: 5;
  }
  /* 메인슬라이드 텍스트박스 커스텀 끝 */
  .main-slide-banner>.image-slider>.slide-number {
    height: 100%;
    border:1px solid red; 
  }
  .main-slide-banner>.image-slider>.slide-number>.btn-box {
    position: absolute;
    top:225px;
    z-index: 6;
  }
  .main-slide-banner>.image-slider>.slide-number>.btn-box>.no- {
    padding-right:46px;
    position: relative;
    color: rgba(255,255,255,.5);
  }
  .main-slide-banner>.image-slider>.slide-number>.btn-box>.start-stop-btn {
    color: #fff;
    font-size: 10px;
    cursor: pointer;
  }
  .main-slide-banner>.image-slider>.slide-number>.btn-box>.start-stop-btn>span {
    transform: translateY(35%);
    position: absolute;
    display: none;
  }
  .main-slide-banner>.image-slider>.slide-number>.btn-box>.start-stop-btn>span.active {
    display: block;
  } 
  .main-slide-banner>.image-slider>.slide-number>.btn-box>.no-.active {
    color: rgba(255,255,255,1);
  }
  .main-slide-banner>.image-slider>.slide-number>.btn-box>.no->span {
    cursor: pointer;
  }
  .main-slide-banner>.image-slider>.slide-number>.btn-box>.no-:not(:last-child)>span::after {
    content:"/";
    position: absolute;
    right:30%;
    top:50%;
    transform: translateY(-50%);
    color: rgba(255,255,255,.3);
    font-size:13px;
  }
  /* main-slide image 커스텀 */
  .main-slide-banner>.image-slider>.banner-1 {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/slide1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  
  .main-slide-banner>.image-slider>.banner-2 {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/slide2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  
  .main-slide-banner>.image-slider>.banner-3 {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/slide3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  
  .main-slide-banner>.image-slider>.banner-4 {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/slide4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  
  .main-slide-banner>.image-slider>.banner-5 {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/slide5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  
  /* main-page-side-menu 커스텀 */
  .main-page-side-menu  {
    height: 90%;
  }
  .main-page-side-menu > .side-menu-box {
    position: absolute;
    width: 268px;
    height: 100%;
    top:27.5%;
    right:0;
  }
  
  .main-page-side-menu > .side-menu-box>ul>li {
    width: calc(230px/2);
    position: relative;
    
  }
  .main-page-side-menu > .side-menu-box>.top-menu>li {
    margin-left: 10px;
  }
  .bottom-menu>.account-inquiry,.bottom-menu>.transfer {
    margin-top: 20px;
  }
  .main-page-side-menu > .side-menu-box>.bottom-menu>li {
    margin-left: 10px;
  }
  .main-page-side-menu > .side-menu-box>ul>.login>a {
    margin-top: 10px;
  }
  .main-page-side-menu > .side-menu-box>ul>.certification-center>a {
    margin-top: 28px;
  }
  /* side-menu icon 커스텀 (.main-page-side-menu > .side-menu-box>ul>li>a>.icon)*/
  .main-page-side-menu > .side-menu-box>ul>li>a {
    border:1px solid rgba(0,0,0,0);
  }
  .main-page-side-menu > .side-menu-box>ul>li>.hover-bg {
    position: absolute;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left:35px;
    top:-2px;
    z-index: inherit;
    transform: scale(0);
    transition: transform .3s;
  }
  .main-page-side-menu > .side-menu-box>ul>li:hover>.hover-bg {
    transform: scale(1);
  }
  .main-page-side-menu > .side-menu-box>ul>li:hover>a>.icon {
    z-index: 3;
  }
  .main-page-side-menu > .side-menu-box>ul>li>a>.text {
    position: relative;
    padding-bottom: 5px;
  }
  
  /* side-menu:hover 효과 커스텀 */
  .main-page-side-menu > .side-menu-box>ul>li>a>.text::before {
    content:"";
    position: absolute;
    bottom:0;
    right:50%;
    width:0;
    height: 1px;
    background: #fff;
    transition: width .3s;
  }
  .main-page-side-menu > .side-menu-box>ul>li>a>.text::after {
    content:"";
    position: absolute;
    bottom:0;
    left:50%;
    width:0;
    height: 1px;
    background: #fff;
    transition: width .3s;
  }
  .main-page-side-menu > .side-menu-box>ul>li:hover>a>.text::before,
  .main-page-side-menu > .side-menu-box>ul>li:hover>a>.text::after {
    width: 50%;
  }
  /* side-menu:hover 효과 커스텀 끝 */
  .main-page-side-menu > .side-menu-box>ul>li:hover {
    cursor: pointer;
  }
  
  .main-page-side-menu > .side-menu-box>ul>.login>a>.icon {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/ico_gnb_login.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: cover;
    width: 37px;
    height: 37px;
    margin-right: 3px;
    margin-left: -8px;
    display: inline-block;
    transform: translateY(35%);
  }
  /* account-inquiry */
  .main-page-side-menu > .side-menu-box>ul>.account-inquiry>a>.icon {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/ico_quick.png);
    background-repeat: no-repeat;
    background-position: -5px -4px;
    background-size: 300px;
    width: 50px;
    height: 50px;
    top:0;
    margin-left: 42px;
    display:block;
    border-radius: 50%;
    position: relative;
  }
  .main-page-side-menu > .side-menu-box>ul>.account-inquiry:hover>a>.icon {
    background-repeat: no-repeat;
    background-position: -5px 108%;
    background-size: 300px;
  }
  /* transfer */
  .main-page-side-menu > .side-menu-box>ul>.transfer>a>.icon {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/ico_quick.png);
    background-repeat: no-repeat;
    background-position: -58px -4px;
    background-size: 300px;
    width: 50px;
    height: 50px;
    top:0;
    margin-left: 42px;
    display:block;
    border-radius: 50%;
    position: relative;
  }
  .main-page-side-menu > .side-menu-box>ul>.transfer:hover>a>.icon {
    background-repeat: no-repeat;
    background-position: -58px 108%;
    background-size: 300px;
  }
  /* new-deposit */
  .main-page-side-menu > .side-menu-box>ul>.new-deposit>a>.icon {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/ico_quick.png);
    background-repeat: no-repeat;
    background-position: -108px -4px;
    background-size: 300px;
    width: 50px;
    height: 50px;
    top:0;
    margin-left: 42px;
    display:block;
    border-radius: 50%;
    position: relative;
  }
  .main-page-side-menu > .side-menu-box>ul>.new-deposit:hover>a>.icon {
    background-repeat: no-repeat;
    background-position: -108px 108%;
    background-size: 300px;
  }
  /* card-application */
  .main-page-side-menu > .side-menu-box>ul>.card-application>a>.icon {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/ico_quick.png);
    background-repeat: no-repeat;
    background-position: -157px -4px;
    background-size: 300px;
    width: 50px;
    height: 50px;
    top:0;
    margin-left: 42px;
    display:block;
    border-radius: 50%;
    position: relative;
  }
  .main-page-side-menu > .side-menu-box>ul>.card-application:hover>a>.icon {
    background-repeat: no-repeat;
    background-position: -157px 108%;
    background-size: 300px;
  }
  /* quick-inquir */
  .main-page-side-menu > .side-menu-box>ul>.quick-inquiry>a>.icon {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/ico_quick.png);
    background-repeat: no-repeat;
    background-position: -205px -4px;
    background-size: 300px;
    width: 50px;
    height: 50px;
    top:0;
    margin-left: 42px;
    display:block;
    border-radius: 50%;
    position: relative;
  }
  .main-page-side-menu > .side-menu-box>ul>.quick-inquiry:hover>a>.icon {
    background-repeat: no-repeat;
    background-position: -205px 108%;
    background-size: 300px;
  }
  /* consumer-protection */
  .main-page-side-menu > .side-menu-box>ul>.consumer-protection>a>.icon {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/ico_quick.png);
    background-repeat: no-repeat;
    background-position: -257px -4px;
    background-size: 300px;
    width: 50px;
    height: 50px;
    top:0;
    margin-left: 42px;
    display:block;
    border-radius: 50%;
    position: relative;
  }
  .main-page-side-menu > .side-menu-box>ul>.consumer-protection:hover>a>.icon {
    background-repeat: no-repeat;
    background-position: -257px 108%;
    background-size: 300px;
  }
  /* side-menu icon 커스텀 끝*/
  .main-page-side-menu > .side-menu-box>.top-menu{
    position: absolute;
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/bg_quick_top.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -19px -14px;
    width: 322px;
    height: 99px;
  }
  
  .main-page-side-menu > .side-menu-box>.top-menu>li {
    height: 100%;
  }
  .main-page-side-menu > .side-menu-box>.bottom-menu{
    position: absolute;
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/bg_quick_bottom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -19px 0;
    width: 322px;
    height: 395px;
    top:85px;
  }
  .main-page-side-menu > .side-menu-box>.bottom-menu>li {
    height: calc(310px/3);
  }
  
  .side-banner > .img {
    position: absolute;
    top:80.9%;
    right:0;
  }
  .side-banner > .img > a {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/200612_001.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    width: 268px;
    height: 100px;
  }
  /* main-page-side-menu 커스텀 끝 */
  
  
  /* main-page-bottom 커스텀 */
  .scroll-guide {
    z-index: 6;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    font-size: 10px;
    font-weight: bold;
    bottom:125px;
    letter-spacing: .5px;
  }
  .scroll-guide-arrow {
    background: url(https://kkt9102.github.io/img1/blog/article/portfolio/kdb/ico_scroll_guide.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    bottom:110px;
    width: 10px;
    height: 15px;
    left:50%;
    transform: translateX(-50%);
  }
  
  .main-page-bottom-menu {
    background: rgba(0,0,0,0.55);
    height: 90px;
    width: 100%;
    text-align: right;
  }
  .main-page-bottom-menu>.bottom-menu-box {
    margin-top: 18px;
  }
  .main-page-bottom-menu>.bottom-menu-box>div>a>.fas {
    font-size: 13px;
    margin-left: 5px;
  }
  .main-page-bottom-menu>.bottom-menu-box>ul {
    width: calc(80%/2);
  }
  .main-page-bottom-menu>.bottom-menu-box>div {
    width: calc(20%/2);
  }
  .main-page-bottom-menu>.bottom-menu-box>ul>li>a{
    width:65%;
    margin-left: 35px;
    margin-bottom: 3px;
    text-align:left;
  }
  .main-page-bottom-menu>.bottom-menu-box>ul>li>a:hover {
    text-decoration: underline;
  }
  .main-page-bottom-menu>.bottom-menu-box>ul>li>.date {
    font-size: 14px;
  }
  
  
  
  /* main-page-bottom 커스텀 끝 */
  